*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    transition: all .5s ease-in-out;
}
.page-div{
    width: 100%;
    color: #aad1ec;
    background-color: transparent;

}
.background-div{ 
    height: 100vh;
    width: 100%;
    background-color: #1e2761;
    overflow: hidden !important;
    position: fixed;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    z-index: -1;
}
.active {
    color: white;
}

.direct-icons-container i {
    position: absolute;
}
.direct-icons-container{
    margin-top:-20vh ;
}



/* Hero Section */
.hero-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 30px;
}

.hero-page h1{
    font-size: 100px;
    color: salmon;
    font-weight: bold;
}
.hero-page h2{
    font-size: 45px;
    color: #aad1ec;
    font-weight: bold;
}

.links{
    padding: 15px;
    color: hsl(205, 63%, 80%);
    bottom:35%;
    left: -1%;
    z-index: 100;
    position: fixed;
    
}
.page-links{
    margin-bottom: 50px;
}
.social-links {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.hero-social-links i {
    margin: 10px;
    color: #aad1ec;
    font-size: 25px;
}
.page-links p, .social-links i {
    cursor: pointer;
    margin: 8px;
    transition: .1s all ease-in-out;
}
.page-links p:hover{
    text-decoration: 1px #aad1ec underline;
    font-weight: bold;
    color: white;
}
.social-links i:hover,.hero-social-links i:hover {
    font-weight: bold;
    color: white;
    font-size: 35px;
}
.social-links, .hero-social-links{
    display: flex;
}
.social-links i{
    font-size: 25px;
    color: #aad1ec;
    
}

.sub-text{
    display: flex;
}
.animate__shakeX{
    margin-right: 10px;
    margin-left: 10px;
}
/* About Me */
.me-container{
    position: relative;
    padding: 20px;
    width: 100%;
}

.section-header {
    color: salmon;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}
.section-header:before, .section-header:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}



.me-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.me-text{
    padding: 2vw;
    padding-left: 10vw;

}
.me-extra{
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(114, 250, 159);

}
.me-grid img {
    outline: 3px #aad1ec solid ;
    border-radius: 5px;
    margin: 30px;
}

.tech-stack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    flex-wrap: wrap;
}

.tech{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(114, 250, 159);

}

.tech p {
    font-size: 20px;
}
.tech i {
    font-size: 50px;
}

/* Projects */
.project-container {
    position: relative;
    padding: 20px;
    margin-bottom: 10vh;
}

.projects{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.project-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project-card{
    background: #aad0ec50;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    position: relative;
    border-radius: 10px;
    animation: Fade 2s;
}
.project-card img {
    width: 100%;
    margin-top: 0vh;
}
.project-card h2{
    font-weight: 1000;
    font-size: 26px;
    margin: 30px;
    color: rgb(114, 250, 159);
    text-decoration: rgb(114, 250, 159) 2px underline ;

}
.redirect-icons{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.redirect-icons i{
    transition: all .5s ease-in-out;
    cursor: pointer;
}   
.fa-github{
    color: rgb(199, 115, 255);
}
.fa-chrome{
    color: rgb(236, 250, 111);
}
.fa-info-circle{
    color: #4df7e8;
}
.fa-chrome:hover, .fa-github:hover, .fa-info-circle:hover{
    filter:brightness(.65);
}

.modal-content{
    background-color: #1e2761;
    cursor: default;
    outline: 3px #aad1ec solid ;
    margin: 30px;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.modal-header{
    display: flex;
}
.modal-header span{
    color: white;
    font-size: 35px;
    padding: 2px;
    cursor: pointer;
    transition: .5s;
}
.modal-header span:hover{
    color: red;
}
.modal-header h2 {
    width: 100%;
    margin-left: 3vw;
    font-weight: bolder;
    text-decoration: rgb(114, 250, 159) 2px underline ;

}

.carousel{
    height: 100%;
    width: 40rem;
    position: relative;
    background: cadetblueq;
}
.carousel-item{
    height: 100%;
    background: cadetblue !important; 
}

.carousel-control-prev, .carousel-control-next{
    background: white;
    height: 100%;
}

.carousel-body-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-body-content h5 {
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    color: white;
    margin-top: -10vh;
}
.carousel-labels-container{
    display: flex;
}
.carousel-control-prev, .carousel-control-next{
    color: black;
    width: 5%;
}


.carousel-control-next-icon,
.carousel-control-prev-icon /*, .carousel-indicators */ {
    filter: invert(100%);
}

.modal-footer{
    display: flex;
    justify-content: space-between;    
    padding: 0px;
}

/* color: #4df7e8; */



.labels:hover{
    color: rgb(61, 171, 179);
    background: white;
}
.events-buttons button, .labels{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e4fffd;;
    color: salmon;
    font-weight: bolder;
    outline: 3px #aad1ec solid ;
}

.b2:hover{
    cursor: pointer;
    color: white;
    background: lightseagreen;
}
.b2off, .b2{
    transition: ease-in-out .5s all;
}
.b2off:hover{
    cursor: not-allowed;
    background: rgb(180, 180, 180);
    color: red;
}
.modal-footer button {
    margin: 10px;
    background: red;
    transition: .5s;
}
.modal-footer button:hover {
    background: white;
    color: red;
}

/* Footer */
.page-footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aad1ec;
    font-size: 15px;
}

.mobile-show{
    display: none;
}
/* Keyframes */


.ii i{
    animation: goDown 10s infinite alternate-reverse;
    opacity: .3;
}
.ii{
    z-index: 2;
    position: relative;
}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  .animate__animated.animate__pulse {
    --animate-duration: 10s;
  }
@keyframes goDown {
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        margin-top: -20vh;
    }

    50%{
    }

    100%{
        margin-top: 130vh;
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes Fade{
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 1000px) {
    .carousel-body-content{
        flex-direction: column;
    }
    .icon-test{
        display: none;
    }
    .labels{
        font-size: 7px;
    }
    .carousel{
        background: turquoise;
        height: 100% !important;
        width: 60vw;
    }
    .carousel-body-content h5 {
        margin-top: 0vh;
    }
  }


@media only screen and (max-width: 768px) {
    .hero-page h1{
        font-size: 70px;
    }
    .hero-page h2{
        font-size: 35px;
    }
    .social-links{
        flex-direction: column;
    }
    .links{
        display: none;
    }

    .me-grid{
        grid-template-columns: 1fr;
    }
    .mobile-show{
        display: block;
        height: 30vh;
        margin-top: -30px !important;

    }
    .mobile-hide{
        display: none;
    }
    .me-text{
        padding: 1vw;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tech-stack{
        width: 100%;
    }
    
}


@media only screen and (max-width: 550px) {

    .project-card img{
        height: 200px;
    }
    .modal-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-footer button{
        display: none;
    }
    .modal-header h2{
        font-size: 30px;
    }
    .modal-backdrop{
        width: 100%;
        height: 100%;
    }
    .background-div{
        height: 150vh;
    }
    .modal-content{
        padding: 20px;
        width: 100vw;
        margin-left: 7%;
    }
    .project-card{
        width: 100%;
        margin-left: 0vw;
    }
    .links{
        left: -2%
    }

}

@media only screen and (max-width: 320px) {


    .modal-content{
        padding: 20px;
        width: 90vw;
        margin-left: 3%;
    }


}