*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    transition: all .5s ease-in-out;
    
}
body{
    background: rgb(35, 35, 39);
}
.events-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
.events-buttons button{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    transition: all .5s ease-in-out;
}
.b1{
    cursor: pointer;
    background: #D72121;
    margin-right: 20px;
}
.b2 {
    cursor: pointer;
    background: black;
    color: white;
}
.b2off{
    cursor: not-allowed;
    background: black;
    color: white;
}
.b1:hover{
    background: white;
    color: #D72121;
}
.b2:hover {
    background: white;
    color: black;
}

nav{
    height: 10vh;
    background: rgb(53, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 35px #05b0ff;
    animation: hueChange 30s infinite alternate-reverse;
    margin-top: 3vh;
    width: 100%;
}
.logo{
    display: flex;
    color: chartreuse;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
nav h2 {
    font-size: 40px;    
    animation: hueChange 10s infinite .25s reverse;

}
nav i {
    font-size:50px; 
    animation: hueChange 10s infinite .5s reverse;

}
.fa-feather-alt{
    font-size: 40px;
    transform: rotateY(180deg);
    animation: hueChange 10s infinite reverse;

}
.projects{
    padding-top: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects h1 {
    color: rgb(133, 113, 248);
    /*color: rgb(255, 23, 178); */
    font-size: 80px;
    margin-top: 5vh;
    margin-bottom: 2vh;

}
.project-box{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project-card{
    background: rgba(58, 61, 65, 0.514);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    animation: Fade .5s;
}
.project-card img {
    width: 100%;
    height: 350px;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.project-card h2{
    margin-top:2vh ;
    font-weight: 1000;
    color: white;
    font-size: 30px;
}
.redirect-icons{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.redirect-icons i{
    transition: all .5s ease-in-out;
    cursor: pointer;
}   
.fa-github{
    color: rgb(42, 27, 255);
}
.fa-chrome{
    color: rgb(27, 255, 65);
}
.fa-info-circle{
    color: yellow;
}
.fa-chrome:hover, .fa-github:hover, .fa-info-circle:hover{
    filter:brightness(.65);
}

.modal-content{
    background: rgb(60, 56, 66);
    cursor: default;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-header{
    display: flex;
}
.modal-header span{
    color: white;
}
.modal-header h2 {
    width: 100%;
    margin-left: 3vw;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5vw;
    height: 60vh;
    width: 40rem;

}
.carousel-item{
    height: 60vh;
}
.carousel-body-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-body-content h5 {
    padding: 5%;
    padding-bottom: 0vh;
    font-size: clamp(.5rem, 1.5vw, 2rem); 
    color: white;
    margin-top: -7vh;

}

.modal-footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.carousel-labels-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.labels{
    width: fit-content;
    padding: 2vh;
    font-size: 15px; 
    background: rgb(61, 171, 179);
    color: white;
    border-radius: 5px;
    margin: 5px;
    transition: all .25s ease-in-out;
}

.labels:hover{
    color: rgb(61, 171, 179);
    background: white;
}
.icon-test{
    position: absolute;
    z-index: -1;
    top: -30%;
}
.icons-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    margin-top: 10vh;
}
.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-container{
    background: rgba(255, 255, 255, 0.048);
    width: 90vw;
    margin: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    color: white;
    padding: 30px;

}
.header-pic{
    width: 60%;
}
.article-container h1 {
    font-weight: bolder;
    font-size: 100px;
}
.article-container section{
    width: 100%;
    padding: 20px;
}
.article-container section h2{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.article-container section p {
    font-size: 20px;
    padding:50px;
    padding-top: 10px;
}
.figure-pics{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}
.figure-pics img{
    height: 40vh;
}
.figure-pics figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.article-container h4{
    margin-top: 50px;
}
.searchpic{
    height: 5vh !important; 
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        top: 100% ;
        opacity: 0;
    }
}
@keyframes hueChange {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes Fade{
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 1000px) {
    .carousel-body-content{
        flex-direction: column;
    }
    .icon-test{
        display: none;
    }
    .labels{
        font-size: 10px;
    }
    .carousel-body-content h5{
        margin-top: 50px;
        font-size: 20px;
    }
    .carousel{
        width: 80vw;
        margin-top: 40px;
    }
    .carousel-item{
        height: 85vh;
    }
    .modal-footer{
        height: 20vh;
    }
    .labels{
        font-size: 13px;
    }
  }
@media only screen and (max-width: 750px) {

    .modal-content{
        margin-left: 10vw;
    }
}
@media only screen and (max-width: 550px) {
    .project-card{
        width: 80%;
        margin-left: 10vw;
    }
    .project-card img{
        height: 200px;
    }
    .carousel{
        width: 20rem;
    }
    .carousel-body-content h5 {
        font-size: 15px; 
    }
    .labels{
        padding: 1vh;
        font-size: 10px; 
    }
    .btn-secondary{
        display: none;    
    }
    .modal-content{
        margin-left: 20vw;
    }
}
@media only screen and (max-width: 450px) {
    .modal-header h2{
        font-size: 20px;
    }
    .carousel{
        width: 15rem;
    }
    
    .labels{
        font-size: 8px; 
    }
    .modal-content{
        margin-left: 8vw;
        margin-right: -5vw;
    }
 
}